body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B95E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  margin-Top: 20px;
  padding: 10px 10px 0px 10px;
  font-size: 30px;
  color: #fc3903;
  /* background-color: gainsboro; */
  background-color: white;
  font-family: Monaco, serif;
  text-align: center;
  justify-content: flex-end;
}

#hamburger-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

#dropdown-items {
  font-size: 15px;
  color: #3B95E3;
  font-weight: 900;
}

#small-header {
  color: #3B95E3;
  font-size: 15px;
  font-style: italic;
}

#about-me-container {
  margin: 20px 20px 0px 20px;
  width: 50%;
  background-color: #fc3903;
  border-radius: 10px;
}

#about-me {
  /* color: gainsboro; */
  color: white;
  font-size: 15px;
  font-family: Monaco, serif;
  font-weight: 900;
  padding: 20px;
  margin-top: 20px;
}

/* ALBUM LINK HOVER EFFECTS */
/* unvisited link */
#listening-to:link {
  color: gainsboro;
  text-decoration: underline;
}

/* visited link */
#listening-to:visited {
  color: white;
  text-decoration: underline;
}

/* mouse over link */
#listening-to:hover {
  color: #3B95E3;
  text-decoration: underline;
}

/* selected link */
#listening-to:active {
  color: blue;
  text-decoration: underline;
}

#leah-pic-container {
  display: flex;
  justify-content: flex-end;
}

#leah-pic {
  margin: 20px;
  width: 50%;
  border-radius: 10px;
}

