body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B95E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */
#title {
  margin-Top: 20px;
  padding: 10px 10px 0px 10px;
  font-size: 35px;
  color: #fc3903;
  background-color: white;
  font-family: Monaco, serif;
  text-align: center;
  justify-content: flex-end;
}

#hamburger-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

#dropdown-items {
  font-size: 15px;
  color: #3B95E3;
  font-weight: 900;
}

#small-header {
  color: #3B95E3;
  font-size: 18px;
  font-style: italic;
}

/* HOMEPAGE */
#about-me-container {
  margin: 20px 20px 0px 20px;
  width: 50%;
  background-color: #fc3903;
  border-radius: 10px;
}

#about-me {
  color: white;
  font-size: 15px;
  font-family: Monaco, serif;
  font-weight: 900;
  padding: 20px;
  margin-top: 20px;
}

/* Listening to link effects */
/* unvisited link */
#listening-to:link {
  color: gainsboro;
  text-decoration: underline;
}

/* visited link */
#listening-to:visited {
  color: white;
  text-decoration: underline;
}

/* mouse over link */
#listening-to:hover {
  color: #3B95E3;
  text-decoration: underline;
}

/* selected link */
#listening-to:active {
  color: #3B95E3;
  text-decoration: underline;
}

#leah-pic-container {
  display: flex;
  justify-content: flex-end;
}

#leah-pic {
  margin: 10px 20px 20px 20px;
  width: 45%;
  border-radius: 10px;
}

/* RESUMES */
#resumes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTACT */
#leah-pic-container-contact {
  display: flex;
  justify-content: center;
}

#contact-heading {
  color: white;
  font-family: Monaco, serif;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  font-style: italic;
}

#contact-link-icons {
  text-align: center;
  color: white;
}

#contact-link-icons i {
  margin-right: 25px;
}

/* contact icon link effects */
/* unvisited link */
#contact:link {
  color: white;
}

/* visited link */
#contact:visited {
  color: white;
}

/* mouse over link */
#contact:hover {
  color: #fc3903;
}

/* selected link */
#contact:active {
  color: #fc3903;
}

.custom-icon {
  transform: scale(2);
}
